.navbar {
  background: #004e64;
}

.hero button {
  background: #00a8cc;
}

.card h3 {
  color: #004e64;
}

.contact button {
  background: #004e64;
}

footer {
  background: #004e64;
}
.map {
  padding: 60px 20px;
  text-align: center;
  background: #ffffff;
}

.map h2 {
  margin-bottom: 20px;
  color: #004e64;
}
