.navbar {
  background: #004e64;
}

.hero button {
  background: #00a8cc;
}

.card h3 {
  color: #004e64;
}

.contact button {
  background: #004e64;
}

footer {
  background: #004e64;
}
.map {
  padding: 60px 20px;
  text-align: center;
  background: #ffffff;
}

.map h2 {
  margin-bottom: 20px;
  color: #004e64;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 14px 18px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.whatsapp-button:hover {
  background: #1ebe5d;
}
